/* mailsection */
body{
    background-color: #403f4d;

}
.mailcontainer{

    background-color: white;
    margin-top:10px;
    border-radius: 10px;
    height:610px;
    overflow: hidden;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.mailheader{
    background-color:rgba(3, 2, 2, 0.911);
    color:white;
    margin-top:-18px;
    height:5%;
    
}       
.mailheader h3{
    margin-left: 6px;
    line-height:30px;
    
}
.mailcontent form{
   
    padding:0;
    
}
.mailcontent{
    width:100%; 
    margin:3px;
    
}
input[type=text]{
    width:98%;
    height:50%;
    line-height:15px;
    font-size:15px;
    border:none;
    outline: none !important;
}
#textarea{
    width:98%;
    height:450px;
    outline:none;
    border:none;
    font-family: sans-serif;
}
button{
    background-color:rgb(39, 85, 235);  
    border:none;
    font-size: 20px;
    cursor: pointer;
    border-radius:5px;
    outline:none;
    color:white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    padding:5px;
}
button:active{
    color:gray;
}